/**************************************Header Styling **************************************/
.header{
    background-color: #0C8E56;
    z-index:1000;
}
/**********Collapse Styling ************/
.card-header{
    background-color:#0C8E56;
    border:none;
    padding-top:0;
    padding-bottom:3%;
}
.card-body{
    padding-top: 0;
    padding-bottom: 4%;
    margin-top: -2%;
}

.accordian{
    background-color:#0C8E56;
}

.btn{
    color:#FFFAED;
    text-decoration:none;
    text-align:center;
    font-size:1.25em;
}

.card{
    background-color:#0C8E56;
    width:100%;
}

.col{
    text-align:center;
    margin-left:.5em;
}

.iconshow{
    color:#FFFAED;
}
/**************************** Cancel Search Filter button stylings *****************************/
#buttons{
    width:100vw;
    opacity: 0;
}

.btn-primary{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #0C8E56;
    color: #FFFAED;
    border-color:#0C8E56;
}

.btn-primary:hover {
    background-color: #EE4266;
    border-color: #EE4266;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #EE4266;
    border-color: #EE4266;
}


/**************************** End of Header Styling *******************************************/

/************************************************ Start of map stylings **************************************************************/
#map{
    height:80vh;
    width:100vw;
    margin-top:15.75vh;
}

#returnloc{
    bottom: 7%;
    left: 5%;
    z-index: 5;
}

.btn-secondary{
    background-color:#EE4266;
    border:none;
    box-shadow:none;
}

.btn-secondary:hover {
    background-color: #270632;
    border-color: #270632;
}

.btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: #270632;
    border-color: #270632;
}

.fa-location-arrow{
    background-color: #EE4266;
    border-color:#270632;
}

.fa-location-arrow:hover{
    background-color: #270632;
    border-color: #270632;
}

.fa-location-arrow:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #270632;
    border-color: #270632;
}


/************************************************* End of map styling ***************************************************************/

/************************************************ Start of footer Styling ************************************************************/

.footer{
    background-color:#0C8E56;
    color: #FFFAED;
    text-align:center;
}

.copyright{
    padding-top: 1%;
    padding-bottom: 2%;
    margin-bottom: 0%;
}

/************************************************ End of Footer Styling **************************************************************/

@media only screen and (min-width: 768px) {
    .header{
        height:10vh;
    }
    
    #map{
        height:90vh;
        margin-top: 8.75vh;
    }
    #logo{
        margin-top:2%;
    }

    #search{
        margin-top: 5%;
    }
    
}

@media only screen and (min-width: 992px){
    .filter{
        height: 85vh;
        background-color:#FFFAED;
        z-index:4;
        margin-top:15vh;
    }
    form{
        padding-top: 2vh;
    }
    .header{
        height:15vh;
    }

    .iconshow{
        color:#270632;
    }

    #tagline{
        color: #FFFAED;
        font-family: 'Wendy One';
        text-align:center;
        font-size: 1.5em;
    }
    #logo{
        height:10vh;
        width:auto;
        margin-top:0;
    }

    #map{
        height: 100vh;
        margin-left: 25vw;
        width: 75vw;
        margin-top: 0;
    }

    #returnloc{
        bottom: 3%;
        left: 27%;
        z-index: 5;
    }

    h5{
        padding-top:3%;
    }
    .filterform{
        padding-left:11%;
    }

    .btn-third{
        background-color: #FFFAED;
        color:#270632;
        margin-left:4%;
        margin-top:5%;
    }

    .custom-range{
        width:40%;
       margin-left:0;
    }
    .custom-range::-webkit-slider-thumb {
         background: #0C8E56;
    }
       
        .custom-range::-webkit-slider-thumb:hover {
         background: #0C8E56;
        }
   
        .custom-range:active::-webkit-slider-thumb {
           background: #EE4266;
        }
       
        .custom-range::-moz-range-thumb {
         background: #EE4266;
        }
        .custom-range::-moz-range-thumb:hover {
         background: #EE4266;
        }
        
        .custom-range:active::-moz-range-thumb {
         background: #EE4266;
        }

input[type="range"][multiple] {
  display: block;
  height: $multiRangeHeight;
  margin: 0;
  pointer-events: none;
  
  & + input[type="range"][multiple] {
    margin-top: $multiRangeHeight * -1;
  }
}

@mixin multirange-thumb {
  pointer-events: all;
}
input[type="range"]::-webkit-slider-thumb {
  @include multirange-thumb;
}
input[type="range"]::-moz-range-thumb {
  @include multirange-thumb;
}
input[type="range"]::-ms-thumb {
  @include multirange-thumb;
}
        

    