
.header{
    background-color: #0C8E56;
    z-index:1000;
}


.card-header{
    background-color:#0C8E56;
    border:none;
    padding-top:0;
    padding-bottom:3%;
}
.card-body{
    padding-top: 0;
    padding-bottom: 4%;
    margin-top: -2%;
}
#headingOne{
    margin:0 auto;
}

.accordian{
    background-color:#0C8E56;
}

.btn{
    color:#FFFAED;
    text-decoration:none;
    text-align:center;
    font-size:1.25em;
}

.card{
    background-color:#0C8E56;
    width:100%;
    border:none;
}

.col{
    text-align:center;
    margin-left:.5em;
}

.iconshow{
    color:#FFFAED;
}

label{
    color:#FFFAED;
}
h3{
    font-size:1.65em;
    margin-top:3%;
    margin-bottom:3%;
}

}
h4{
    margin-top:5%;
    font-size:1.25em;
}

h5{
    margin-top:2%;
    font-size:1em;
}
/**************************** Cancel Search Filter button stylings *****************************/
#buttons{
    width:100vw;
    opacity: 0;
}

.btn-primary{
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #0C8E56;
    color: #FFFAED;
    border-color:#0C8E56;
}

.btn-primary:hover {
    background-color: #EE4266;
    border-color: #EE4266;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #EE4266;
    border-color: #EE4266;
}

/************************************* Start of Modal Stylings *************************************/

.custom-range{
    width:40%;
    margin-left:20%;
    pointer-events:none;
 }
 .custom-range::-webkit-slider-thumb {
    background: #0C8E56;
    pointer-events:auto;
 }
    
 .custom-range::-webkit-slider-thumb:hover {
    background: #0C8E56;
 }

 .custom-range:active::-webkit-slider-thumb {
    background: #EE4266;
 }
    
 .custom-range::-moz-range-thumb {
    background: #EE4266;
 }
     
 .custom-range::-moz-range-thumb:hover {
    background: #EE4266;
 }
     
 .custom-range:active::-moz-range-thumb {
    background: #EE4266;
 }

 #distancehigh::-webkit-slider-runnable-track{
    background-color:transparent;
    pointer-events:none;    
 }


 #distancehigh{
    margin-left: -40%;
 }

 .minval{
    padding-right:1%;
    position:absolute;
    text-align:right;
 }
 .trailtitle{
    margin:5% 0%;
 }

h5{
    padding:0;
}

.modal-header{
    background-color:#FFFAED;
}

.modal-body{
    background-color:#FFFAED;
}

.modal-footer{
    background-color:#FFFAED;
}
/**************************************** End of Modal Stylings ************************************/


#map{
    height:81vh;
    width:100vw;
    margin-top:15vh;
}

#returnloc{
    bottom: 7%;
    left: 5%;
    z-index: 5;
}

.btn-secondary{
    background-color:#EE4266;
    border:none;
    box-shadow:none;
}

.btn-secondary:hover {
    background-color: #270632;
    border-color: #270632;
}

.btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: #270632;
    border-color: #270632;
}

.fa-location-arrow{
    background-color: #EE4266;
    border-color:#270632;
}

.fa-location-arrow:hover{
    background-color: #270632;
    border-color: #270632;
}

.fa-location-arrow:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #270632;
    border-color: #270632;
}



.footer{
    background-color:#0C8E56;
    color: #FFFAED;
    text-align:center;
}

.copyright{
    padding-top: 1%;
    padding-bottom: 2%;
    margin-bottom: 0%;
}



/************************************************ End of Footer Styling **************************************************************/

@media only screen and (min-width: 768px) {
    .header{
        height:12vh;
    }
    
    #map{
        height:90vh;
        margin-top: 8.75vh;
    }
    #logo{
        margin-top:2%;
    }

    #search{
        margin-top: 4%;
    }

    .accordian{
       z-index:5;
        
    }
    
    #buttons{
        margin-top: 2%;
    }
}

@media only screen and (min-width: 992px){
    .filter{
        height: 85vh;
        background-color:#FFFAED;
        z-index:4;
        margin-top:15vh;
    }
    form{
        padding-top: 2vh;
    }

    label{
        color:#270632;
    }
    .header{
        height:15vh;
    }

    .iconshow{
        color:#270632;
    }

    #tagline{
        color: #FFFAED;
        font-family: 'Wendy One';
        text-align:center;
        font-size: 1.5em;
    }
    #logo{
        height:10vh;
        width:auto;
        margin-top:0;
    }

    #map{
        height: 100vh;
        margin-left: 24vw;
        width: 75vw;
        margin-top: 0;
    }

    #returnloc{
        bottom: 3%;
        left: 27%;
        z-index: 5;
    }

    h5{
        padding-top:3%;
    }
    h4{
        font-size:1.25em;
    }
    h3{
        margin-top: 10%;
        margin-bottom: 8%;
        margin-left: -5%;
        font-size:1.5em;
    }
    .filterform{
        padding-left:11%;
    }

    .hikingtitle{
        margin-top:3%;
    }

    .btn-third{
        background-color: #FFFAED;
        color:#270632;
        margin-left:4%;
        margin-top:5%;
    }

    .btn-third:hover {
        background-color: #EE4266;
        border-color: #EE4266;
    }
    
    .btn-third:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
        background-color: #EE4266;
        border-color: #EE4266;
    }

    .custom-range{
       width:40%;
       margin-left:20%;
       z-index:1;
       pointer-events:none;
    }
    .custom-range::-webkit-slider-thumb {
        background: #0C8E56;
        z-index:5;
        pointer-events:auto;
    }
       
    .custom-range::-webkit-slider-thumb:hover {
        background: #0C8E56;
        z-index:3;
    }
   
    .custom-range:active::-webkit-slider-thumb {
        background: #EE4266;
        z-index:3;
    }
       
    .custom-range::-moz-range-thumb {
        background: #EE4266;
        z-index:3;
    }
        
    .custom-range::-moz-range-thumb:hover {
        background: #EE4266;
        z-index:3;
    }
        
    .custom-range:active::-moz-range-thumb {
        background: #EE4266;
        z-index:3;
    }

    #distancehigh-d::-webkit-slider-runnable-track{
        background-color:transparent;
        pointer-events:none;    
    }


    #distancehigh-d{
        margin-left: -40%;
        z-index:1;
    }

    .minval-d{
        padding-right:1%;
        position:absolute;
        text-align:right;
    }
    .trailtitle{
        margin:5% 4%;
    }
    
    .desktopbuttons{
        margin-top: 0vh;
        margin-left: 8%;
    }
    
    .mb-4, .my-4 {
        margin-bottom: 1.5rem!important;
        padding-left: 3%;
    }
}


    

